@using Newtonsoft.Json
@model ServiceRecordViewModel
@{
	var gamertag = @Model.ServiceRecord.Gamertag;
	ViewBag.Title = $"{gamertag}'s Service Record";
}

@await Html.PartialAsync("/Areas/Halo4/Views/Shared/_Header", Model)

@await Html.PartialAsync("/Areas/Shared/Views/_AreaSwitcher", new AreaSwitcherViewModel("2A2D53", "halo4", "", gamertag, Area.Halo4))

<main>
	<div class="container">
		<div class="row">
			<div class="col-md-9">

			</div>
			<div class="col-md-3">
				<div class="sidebar">
					<ul class="nav sidenav">
						<li class="active">
							<a href="#">
								<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
							</a>

							<ul class="nav">
								<li class="active">
									<a href="#">Service Record</a>
								</li>

								<li class="">
									<a href="#">Game History</a>
									<ul class="nav">
										<li><a href="#">Matchmaking</a></li>
										<li><a href="#">Custom Games</a></li>
										<li><a href="#">Campaign</a></li>
										<li><a href="#">Spartan Ops</a></li>
									</ul>
								</li>

								<li class="">
									<a href="#">Competitive Skill Rank</a>
								</li>

								<li class="">
									<a href="#">Commendations</a>
									<ul class="nav">
										<li><a href="#">Weapons</a></li>
										<li><a href="#">Enemies</a></li>
										<li><a href="#">Vehicles</a></li>
										<li><a href="#">Ipsum</a></li>
										<li><a href="#">Lorem</a></li>
									</ul>
								</li>

								<li class="">
									<a href="#">Specializations</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
</main>

@section scripts {
	<script>
		var RecentGames = @Html.Raw(await Model.GameHistory?.Games.ToJavascriptArrayAsync(MetadataService));
	</script>
}