@using Branch.Service.XboxLive.Mvc.ViewModels
@using Branch.Helpers.Extentions
@model ViewModelBase
@{
	var primaryRgb = Model.PreferredColors.PrimaryColor;
	var secondaryRgb = Model.PreferredColors.SecondaryColor;

	var gamertag = Model.ProfileUser.Settings.First(s => s.Id == "Gamertag").Value;
}
<article class="area-switcher xboxlive" style="background-image: url('@Model.ProfileUser.Settings.First(s => s.Id == "GameDisplayPicRaw").Value')">
	<div class="mask" style="background-color: @secondaryRgb.ToCssRgba(0.9);">
		<div class="container">
			<div class="selector-nav">
				<ul class="nav-of-bar">
					<li class="active">
						<a class="plain" href="/Xbox/@gamertag/">Xbox</a>
					</li>
					<li class="">
						<a class="plain" href="/Xbox/@gamertag/Reach/">Halo: Reach</a>
					</li>
					<li class="">
						<a class="plain" href="/Xbox/@gamertag/Halo4/">Halo 4</a>
					</li>
					<li>
						<a class="plain" href="/Games/Halo5">Halo 5: Guardians</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
