@using Branch.Web.Areas.Halo5.ViewModels
@model SidebarViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<div class="sidebar">
	<ul class="nav sidenav">
		<li class="active">
			<a href="#">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>

			<ul class="nav">
				<li class="@(Model.SidebarOption.Equals(SidebarOption.ServiceRecord) ? "active" : "")">
					<a asp-controller="ServiceRecord" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Service Record</a>
				</li>

				<li class="@(Model.SidebarOption.Equals(SidebarOption.MatchHistory) ? "active" : "")">
					<a href="#">Match History</a>
					<ul class="nav">
						<li>
							<a href="#">Arena</a>
						</li>
						<li>
							<a href="#">Warzone</a>
						</li>
						<li>
							<a href="#">Customs</a>
						</li>
						<li>
							<a href="#">Campaign</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
