@using System.Threading.Tasks
@using Branch.Web.Areas.Halo5.ViewModels
@using Branch.Web.Areas.Shared.Enums
@using Branch.Web.Areas.Shared.ViewModels
@model ServiceRecordViewModel
@{
	var gamertag = Model.ServiceRecord.PlayerId.Gamertag;
	ViewBag.Title = $"{gamertag}'s Halo 5 Service Record";
	var sidebar = new SidebarViewModel(gamertag, SidebarOption.ServiceRecord);
}

@await Html.PartialAsync("_Header", Model)

@await Html.PartialAsync("/Areas/Shared/Views/_AreaSwitcher", new AreaSwitcherViewModel("2A2D53", "halo5", "", gamertag, Area.Halo5Guardians))

@addTagHelper "*, Branch.Web"

<main class="halo4-service-record">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="arena-overview col-md-12">
					<div class="page-header">
						<h3>
							Service Record
							<small>Arena</small>
						</h3>
					</div>

				</div>
				@if (Model.MatchHistory.Results.Any())
				{
					<div class="arena-overview col-md-12">
						<div class="page-header">
							<h3>
								Recent Matches
								<small>0-25 of @(Model.ServiceRecord.ArenaStats.TotalGamesCompleted + Model.ServiceRecord.WarzoneStats.TotalGamesCompleted)</small>
							</h3>
						</div>
						@foreach(var match in Model.MatchHistory.Results)
						{
							var mapVariant = await MetadataService.GetMapVariantMetadataAsync(match.MapVariant.ResourceId);
							var gameVariant = await MetadataService.GetGameVariantMetadataAsync(match.GameVariant.ResourceId);

							<h1>@gameVariant.Name on @mapVariant.Name</h1>
						}
					</div>
				}
			</div>
			<div class="col-md-3">
				@await Html.PartialAsync("_Sidebar", sidebar)
			</div>
		</div>
	</div>
</main>

@section scripts {
	<script>

	</script>
}