@using System.Threading.Tasks
@using Branch.Web.Areas.Halo5.ViewModels
@using Branch.Web.Areas.Shared.Enums
@using Branch.Web.Areas.Shared.ViewModels
@model ServiceRecordViewModel
@{
	var gamertag = Model.ServiceRecord.PlayerId.Gamertag;
	ViewBag.Title = $"{gamertag}'s Halo 5 Service Record";
	var sidebar = new SidebarViewModel(gamertag, SidebarOption.ServiceRecord);
}

@await Html.PartialAsync("_Header", Model)

@await Html.PartialAsync("/Areas/Shared/Views/_AreaSwitcher", new AreaSwitcherViewModel("2A2D53", "halo5", "", gamertag, Area.Halo5Guardians))

@addTagHelper "*, Branch.Web"

<main class="halo4-service-record">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="arena-overview col-md-12">
					<div class="page-header">
						<h3>
							Service Record
							<small>Arena</small>
						</h3>
					</div>

				</div>
			</div>
			<div class="col-md-3">
				@await Html.PartialAsync("_Sidebar", sidebar)
			</div>
		</div>
	</div>
</main>

@section scripts {
	<script>

	</script>
}