@using Branch.Service.Halo4.Database.Models
@inject IOptions<AppSettings> AppSettings
@{
	ViewBag.Title = "Home Page";
}

<header class="home-index">
	<div id="particles-js"></div>
	<div class="container">
		<h1>
			Welcome to @AppSettings.Value.SiteTitle
		</h1>
		<h2>
			Stats built with the community in mind
		</h2>
	</div>
</header>

<main>
	<div class="container">
		<repeat count="1">
			<div class="row">
				<div class="col-md-4">
					<h2>This application consists of:</h2>
					<ul>
						<li>Sample pages showing basic nav</li>
						<li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2>Customize app</h2>
					<ul>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add Controllers and Views</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398602">Add Data using EntityFramework</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398603">Add Authentication using Identity</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398606">Add real time support using SignalR</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398604">Add Class library</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517848">Add client packages using Bower</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517849">Manage client packages using Grunt</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517850">Develop on different platforms</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2>Run &amp; Deploy</h2>
					<ul>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app locally</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on ASP.NET Core 5</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands defined in your project.json</a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Sites</a></li>
					</ul>
				</div>
			</div>
		</repeat>
	</div>
</main>
@section scripts {
	<environment names="Development">
		<script src="~/lib/particles.js/particles.js/particles.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="//cdn.rawgit.com/VincentGarreau/particles.js/master/particles.js"
				asp-fallback-src="~/lib/particles.js/particles.js/particles.js"
				asp-fallback-test="particlesJS">
		</script>
	</environment>

	<script>
		window.onload = function () {
			function pJS_desktop() {
				particlesJS('particles-js', {
					particles: {
						color: '#fff',
						shape: 'circle',
						opacity: {
							opacity: 1
						},
						size: 2.5,
						size_random: true,
						nb: 150,
						line_linked: {
							enable_auto: true,
							distance: 250,
							color: '#fff',
							opacity: 0.5,
							width: 1,
							condensed_mode: {
								enable: false,
								rotateX: 600,
								rotateY: 600
							}
						},
						anim: {
							enable: true,
							speed: 3
						}
					},
					interactivity: {
						enable: true,
						mouse: {
							distance: 200
						},
						detect_on: 'canvas',
						mode: 'grab',
						line_linked: {
							opacity: .5
						},
						events: {
							onclick: {
								enable: true,
								mode: 'push',
								nb: 4
							}
						}
					},
					retina_detect: true
				});
			}

			function pJS_mobile() {
				particlesJS('particles-js', {
					particles: {
						color: '#fff',
						shape: 'circle',
						opacity: 1,
						size: 2.5,
						size_random: true,
						nb: 40,
						line_linked: {
							enable_auto: false,
							distance: 250,
							color: '#fff',
							opacity: 0.5,
							width: 1,
							condensed_mode: {
								enable: false,
								rotateX: 600,
								rotateY: 600
							}
						},
						anim: {
							enable: true,
							speed: 3
						}
					},
					interactivity: {
						enable: false,
						mouse: {
							distance: 200
						},
						detect_on: 'canvas',
						mode: 'grab',
						line_linked: {
							opacity: .5
						},
						events: {
							onclick: {
								enable: true,
								mode: 'push',
								nb: 4
							}
						}
					},
					retina_detect: true
				});
			}

			if (window.innerWidth > 1100) {
				pJS_desktop();
			} else {
				pJS_mobile();
			}
			
			//var doit;
			//window.onresize = function () {
			//	clearTimeout(doit);
			//	doit = setTimeout(function () {
			//		if (window.innerWidth > 1100) {
			//			pJS.fn.vendors.destroy();
			//			pJS_desktop();
			//		} else {
			//			pJS.fn.vendors.destroy();
			//			pJS_mobile();
			//		}
			//	}, 150);
			//};
		};
	</script>
}