@using Branch.Service.XboxLive.Mvc.ViewModels
@using Branch.Helpers.Extentions
@model ProfileViewModel
@addTagHelper "*, Branch.Service.XboxLive"
@{
	ViewBag.Title = $"{Model.ProfileUser.Settings.First(s => s.Id == "Gamertag").Value}'s Xbox Profile";

	var primaryRgb = Model.PreferredColors.PrimaryColor;
	var secondaryRgb = Model.PreferredColors.SecondaryColor;
	var gamertag = Model.ProfileUser.Settings.First(s => s.Id == "Gamertag").Value;
}

@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_Header", Model)

@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_AreaSwitcher", Model)

<main>
	<div class="container">
		<div class="row">
			<div class="col-md-9">

			</div>
			<div class="col-md-3">
				<nav class="sidebar">
					<ul class="nav sidenav">
						<li class="active">
							<a href="#">
								<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
							</a>

							<ul class="nav">
								<li class="active">
									<a href="/Xbox/@gamertag">Details</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Showcase">Showcase</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Achievements">Achievements</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Following">Following</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/GameClips">Game Clips</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
</main>

<script>
	window.onload = function () {
		
	};
</script>