header.home-index {
	background-color: $brand-primary;
	position:relative;
	/*height:80%;*/
	width: 100%;

	.container{
		width: 100%;
		/*top: 0;
		left: 0;
		right: 0;
		position: absolute;*/
		padding-top:300px;
		padding-bottom: 200px;
		text-align: center;
		color: white;
		pointer-events: none;

		h1 {
			pointer-events: all;
			font-size: 75px;
			line-height: 75px;
			font-weight: 700;
		}
		h2 {
			pointer-events: all;
			font-family: 'Exo', "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: lowercase;
			font-size: 40px;
			line-height: 40px;
		}
	}
}