@using Branch.Service.XboxLive.Mvc.ViewModels
@using Branch.Helpers.Extentions
@model ShowcaseViewModel
@addTagHelper "*, Branch.Service.XboxLive"
@{
	ViewBag.Title = $"{Model.ProfileUser.Settings.First(s => s.Id == "Gamertag").Value}'s Xbox Profile";

	var primaryRgb = Model.PreferredColors.PrimaryColor;
	var secondaryRgb = Model.PreferredColors.SecondaryColor;
	var tertiaryRgb = Model.PreferredColors.TertiaryColor;
	var gamertag = Model.ProfileUser.Settings.First(s => s.Id == "Gamertag").Value;

	var reputation = Model.ProfileUser.Settings.First(s => s.Id == "XboxOneRep").Value;
	var biography = Model.ProfileUser.Settings.First(s => s.Id == "Bio").Value;
}

@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_Header", Model)

@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_AreaSwitcher", Model)

<main class="xboxlive-showcase">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Showcase</h2>

				@if (Model.ShowcaseItems.ItemCount == 0)
				{
					<div class="alert alert-info" role="alert">
						<strong>Privacy!</strong>
						This person either doesn't have a showcase, or their privacy settings forbit it from being shown.
					</div>
				}

				<div class="showcase-container hidden-xs hidden-sm">
					<div class="item w2">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(0))
					</div>
					<div class="item inner-container">
						<div class="item w1">
							@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(1))
						</div>
						<div class="item w1">
							@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(2))
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="item row">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(3))
					</div>
					<div class="item row">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(4))
					</div>
					<div class="item row">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(5))
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="showcase-mobile-container visible-xs visible-sm">
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(0))
					</div>
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(1))
					</div>
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(2))
					</div>
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(3))
					</div>
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(4))
					</div>
					<div class="item">
						@await Html.PartialAsync("~/Branch.Service.XboxLive/Mvc/Views/Shared/_ShowcaseItem", Model.ShowcaseItems.Items.ElementAtOrDefault(5))
					</div>
				</div>

				<div class="biography" style="display: @(String.IsNullOrWhiteSpace(biography) ? "none" : "block")">
					<h2>Biography</h2>
					<p>
						@biography
					</p>
				</div>
			</div>

			<div class="col-md-3">
				<nav class="sidebar">
					<ul class="nav sidenav">
						<li class="active">
							<a href="#">
								<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
							</a>

							<ul class="nav">
								<li class="active">
									<a href="/Xbox/@gamertag">Showcase</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Activity">Activity</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Achievements">Achievements</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/Following">Following</a>
								</li>

								<li class="">
									<a href="/Xbox/@gamertag/GameClips">Game Clips</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
	<div class="swag"></div>
</main>

<script>
	window.onload = function () {

	};
</script>