@using Microsoft.Xbox.Core.DataContracts
@using Microsoft.Xbox.Core.DataContracts.Abstracts
@using Branch.Helpers.Extentions
@model ActivityItem
@{

}
@if (Model != null)
{
	<a href="/xbox/@Model.AuthorInfo.Name.ToSlug()/activity/@Model.FeedItemId">
		<img src="@Model.ItemImage" />
		<div class="data">
			<div class="metadata">
				<span>@Model.ItemText</span>
				<p>@Model.UserGeneratedContentCaption</p>
			</div>
		</div>
	</a>
}
