h1, h2, h3, h4, h5, h6, h7, h8, a, span, div {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background-color: #3d3d7c; }

main {
  background-color: white;
  overflow-x: hidden; }

.navbar-default {
  background-color: #222;
  border-color: transparent;
  font-family: 'Open Sans'; }
  .navbar-default .nav-logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    opacity: 0.0; }
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #e6e6e6; }
  .navbar-default .navbar-collapse {
    border-color: fade(white, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #fff;
    border-color: #fff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #fff; }
  .navbar-default .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
      color: #fff;
      outline: none; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #e6e6e6; }

.progress {
  border-radius: 0; }

.seperator {
  margin: 10px 0px 10px 20px; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 160px;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border: none; }
    .navbar-default .navbar-brand {
      font-size: 2em; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; }
    .navbar-default .dropdown > a {
      background-color: transparent !important;
      color: #fff !important; }
      .navbar-default .dropdown > a > .caret {
        border-top-color: #fff !important;
        border-bottom-color: #fff !important; }
    .navbar-default .dropdown > .dropdown-menu {
      border: 0px;
      background: #3d3d7c;
      box-shadow: 6px 10px 17px rgba(0, 0, 0, 0.2); }
      .navbar-default .dropdown > .dropdown-menu a:hover {
        background: #343477 !important; }
    .navbar-default .dropdown.open {
      font-weight: 600; }
      .navbar-default .dropdown.open > a {
        background-color: transparent !important;
        color: #e0e0e0 !important; }
        .navbar-default .dropdown.open > a > .caret {
          border-top-color: #e0e0e0 !important;
          border-bottom-color: #e0e0e0 !important; }
  .navbar-lowered {
    padding: 0;
    padding-right: 20px;
    background: #fff;
    border-bottom: 2px solid #3d3d7c;
    transition: all ease-in-out 0.3s; }
    .navbar-lowered .nav-logo {
      margin-top: 15px;
      opacity: 1.0; }
    .navbar-lowered .navbar-brand {
      line-height: 30px;
      color: #3d3d7c;
      font-size: 19px; }
    .navbar-lowered .navbar-nav > li a {
      line-height: 30px;
      color: #3d3d7c !important; }
    .navbar-lowered .dropdown > a > .caret {
      border-top-color: #3d3d7c !important;
      border-bottom-color: #3d3d7c !important; }
    .navbar-lowered .dropdown > .dropdown-menu {
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      background: #fff;
      box-shadow: 6px 10px 17px rgba(0, 0, 0, 0.2); }
      .navbar-lowered .dropdown > .dropdown-menu a:hover {
        background: #f4f4f4 !important; }
    .navbar-lowered .dropdown.open {
      font-weight: 600; }
      .navbar-lowered .dropdown.open > a {
        background-color: #ededed !important;
        color: #343477 !important; }
        .navbar-lowered .dropdown.open > a > .caret {
          border-top-color: #5252FF !important;
          border-bottom-color: #5252FF !important; } }

.sidebar {
  margin-top: 50px;
  padding-left: 40px; }
  .sidebar.affix {
    position: fixed;
    top: 25px; }
    @media (max-width: 992px) {
      .sidebar.affix {
        position: static; } }
  .sidebar .sidenav {
    margin-top: 20px;
    margin-bottom: 20px; }
  .sidebar .nav > li > a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px; }
    .sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
      padding-left: 19px;
      color: #563d7c;
      text-decoration: none;
      background-color: transparent;
      border-left: 1px solid #563d7c; }
  .sidebar .nav > .active > a, .sidebar .nav > .active:hover > a, .sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 1px solid #563d7c; }
  .sidebar .nav .nav {
    padding-bottom: 10px; }
    .sidebar .nav .nav > li > a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 40px;
      font-size: 13px;
      font-weight: 400; }
    .sidebar .nav .nav .active > a, .sidebar .nav .nav .active:hover > a, .sidebar .nav .nav .active:focus > a {
      font-weight: 500;
      padding-left: 38px; }
    .sidebar .nav .nav .nav > li > a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 60px;
      font-size: 13px;
      font-weight: 400; }
    .sidebar .nav .nav .nav .active > a, .sidebar .nav .nav .nav .active:hover > a, .sidebar .nav .nav .nav .active:focus > a {
      font-weight: 500;
      padding-left: 58px; }

.area-switcher {
  height: 53px;
  background-color: #2A2D53;
  margin-top: -1px;
  text-align: center; }
  @media (max-width: 767px) {
    .area-switcher {
      display: none; } }
  .area-switcher .selector-nav {
    margin: 0 auto; }
    .area-switcher .selector-nav > .nav-of-bar {
      font-size: 15px;
      font-weight: normal;
      list-style: none;
      padding: 14px; }
      .area-switcher .selector-nav > .nav-of-bar > li {
        display: inline;
        transition: opacity linear 0.2s;
        opacity: 0.55;
        cursor: pointer; }
        .area-switcher .selector-nav > .nav-of-bar > li > a {
          padding: 0 12px 17px 12px;
          margin: 10px 0;
          color: #eee;
          text-decoration: none; }
        .area-switcher .selector-nav > .nav-of-bar > li.active {
          opacity: 1;
          color: white;
          text-decoration: none; }
          .area-switcher .selector-nav > .nav-of-bar > li.active > a {
            padding: 0 12px 15px 12px;
            border-bottom: 4px solid white; }
        .area-switcher .selector-nav > .nav-of-bar > li:hover {
          opacity: 1;
          color: white;
          text-decoration: none; }

header.home-index {
  background-color: #3d3d7c;
  position: relative;
  height: 80%;
  width: 100%; }
  header.home-index .container {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 300px;
    padding-bottom: 200px;
    text-align: center;
    color: white;
    pointer-events: none; }
    header.home-index .container h1 {
      pointer-events: all;
      font-size: 75px;
      line-height: 75px;
      font-weight: 700; }
    header.home-index .container h2 {
      pointer-events: all;
      font-family: 'Exo', "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: lowercase;
      font-size: 40px;
      line-height: 40px; }

header.xboxlive-showcase {
  color: #fff;
  text-align: left;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: background 0.6s ease-in-out; }
  @media (max-width: 768px) {
    header.xboxlive-showcase {
      transition: all ease-in 0s;
      min-height: 480px; } }
  header.xboxlive-showcase > .mask {
    height: 100%;
    padding-bottom: 30px; }
    header.xboxlive-showcase > .mask > .container {
      padding-top: 120px;
      padding-left: 45px; }
      @media (max-width: 992px) {
        header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs {
          text-align: center; } }
      header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-picture {
        margin-top: 15px;
        text-align: right; }
      header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .meta {
        font-size: 18px;
        opacity: 0.7;
        list-style: none;
        padding: 0;
        margin: 0; }
        header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .meta > li {
          margin-right: 15px;
          display: inline; }
          header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .meta > li.tier-gold {
            color: gold; }
          header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .meta > li > .gamerscore-icon {
            margin-top: -5px; }
      header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .gamer-picture {
        text-align: center; }
      header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .watermarks {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 25px; }
        header.xboxlive-showcase > .mask > .container .col-md-11 .name-flairs .gamer-details .watermarks > li {
          margin-right: 15px;
          display: inline; }
      header.xboxlive-showcase > .mask > .container .col-md-11 .social-data {
        margin-top: 30px; }
      header.xboxlive-showcase > .mask > .container .col-md-1 img {
        margin-top: 15px;
        text-align: right; }

.area-switcher.xboxlive {
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

main {
  padding-top: 30px; }

.swag {
  height: 30px; }

.xboxlive-showcase .container h2 {
  margin-bottom: 20px; }
.xboxlive-showcase .container .showcase-container .item, .xboxlive-showcase .container .showcase-mobile-container .item {
  float: left;
  position: relative;
  width: 33%;
  background-color: #2b2b2b; }
  .xboxlive-showcase .container .showcase-container .item.inner-container, .xboxlive-showcase .container .showcase-mobile-container .item.inner-container {
    position: static;
    background-color: transparent; }
  .xboxlive-showcase .container .showcase-container .item.w2, .xboxlive-showcase .container .showcase-mobile-container .item.w2 {
    width: calc(66% - 3px); }
  .xboxlive-showcase .container .showcase-container .item.w1, .xboxlive-showcase .container .showcase-mobile-container .item.w1 {
    width: calc(99% - 3px);
    margin-left: 3px; }
    .xboxlive-showcase .container .showcase-container .item.w1:last-child, .xboxlive-showcase .container .showcase-mobile-container .item.w1:last-child {
      margin-top: 5px; }
  .xboxlive-showcase .container .showcase-container .item.row, .xboxlive-showcase .container .showcase-mobile-container .item.row {
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 3px;
    width: calc(33% - 3px); }
  .xboxlive-showcase .container .showcase-container .item > a:hover .data, .xboxlive-showcase .container .showcase-mobile-container .item > a:hover .data {
    background-color: rgba(68, 68, 68, 0.5); }
    .xboxlive-showcase .container .showcase-container .item > a:hover .data > .metadata, .xboxlive-showcase .container .showcase-mobile-container .item > a:hover .data > .metadata {
      opacity: 0.6; }
  .xboxlive-showcase .container .showcase-container .item > a > img, .xboxlive-showcase .container .showcase-mobile-container .item > a > img {
    max-width: 100%; }
  .xboxlive-showcase .container .showcase-container .item > a > .data, .xboxlive-showcase .container .showcase-mobile-container .item > a > .data {
    transition: all ease-in-out 0.2s;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0) 62%, #000000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(62%, rgba(97, 97, 97, 0)), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0) 62%, #000000 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0) 62%, #000000 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0) 62%, #000000 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0) 62%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute; }
    .xboxlive-showcase .container .showcase-container .item > a > .data > .metadata, .xboxlive-showcase .container .showcase-mobile-container .item > a > .data > .metadata {
      left: 15px;
      right: 15px;
      bottom: 0;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: opacity ease-in-out 0.2s; }
      .xboxlive-showcase .container .showcase-container .item > a > .data > .metadata > span, .xboxlive-showcase .container .showcase-mobile-container .item > a > .data > .metadata > span {
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .xboxlive-showcase .container .showcase-container .item > a > .data > .metadata > p, .xboxlive-showcase .container .showcase-mobile-container .item > a > .data > .metadata > p {
        color: #888888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
.xboxlive-showcase .container .showcase-mobile-container .item {
  margin-bottom: 3px;
  float: none;
  width: 100%; }
  .xboxlive-showcase .container .showcase-mobile-container .item > img {
    max-width: 100%; }
.xboxlive-showcase .container .biography {
  margin-top: 45px; }
  .xboxlive-showcase .container .biography > p {
    font-size: 18px; }

header.halo4-service-record {
  height: 640px;
  color: #fff;
  text-align: left;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  transition: background 0.6s ease-in-out; }
  @media (max-width: 768px) {
    header.halo4-service-record {
      transition: all ease-in 0s;
      height: 480px;
      min-height: 480px; } }
  header.halo4-service-record > .mask {
    background: #3d3d7c;
    background: -moz-linear-gradient(top, #3d3d7c 0%, rgba(61, 61, 124, 0) 39%, #2a2d53 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3d3d7c), color-stop(39%, rgba(61, 61, 124, 0)), color-stop(100%, #2a2d53));
    background: -webkit-linear-gradient(top, #3d3d7c 0%, rgba(61, 61, 124, 0) 39%, #2a2d53 100%);
    background: -o-linear-gradient(top, #3d3d7c 0%, rgba(61, 61, 124, 0) 39%, #2a2d53 100%);
    background: -ms-linear-gradient(top, #3d3d7c 0%, rgba(61, 61, 124, 0) 39%, #2a2d53 100%);
    background: linear-gradient(to bottom, #3d3d7c 0%, rgba(61, 61, 124, 0) 39%, #2a2d53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d7c', endColorstr='#2A2D53', GradientType=0 );
    height: 100%; }
    header.halo4-service-record > .mask > .container {
      padding-top: 120px;
      padding-left: 45px; }
      @media (max-width: 992px) {
        header.halo4-service-record > .mask > .container .col-md-9 .name-flairs {
          text-align: center; } }
      header.halo4-service-record > .mask > .container .col-md-9 .name-flairs .spartan-csr {
        margin-top: 15px; }
      header.halo4-service-record > .mask > .container .col-md-9 .name-flairs h2 {
        margin-top: -10px;
        opacity: 0.7;
        text-transform: uppercase; }
      header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs {
        margin-top: 60px; }
        @media (max-width: 992px) {
          header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs {
            margin-top: 50px; } }
        header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs > .col-md-10 > img {
          margin-bottom: 5px; }
          @media (max-width: 767px) {
            header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs > .col-md-10 > img {
              margin: 15px auto 0px auto; } }
        header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs > .col-md-10 > .progress {
          margin-top: 10px;
          margin-bottom: 0; }
        header.halo4-service-record > .mask > .container .col-md-9 .rank-flairs > .col-md-10 > .xp {
          font-size: 14px; }
      header.halo4-service-record > .mask > .container .col-md-9 .recent-match {
        transition: all ease-in-out 0.6s;
        margin-top: 60px;
        padding-left: 14px;
        font-size: 35px;
        font-weight: 200; }
        @media (max-width: 768px) {
          header.halo4-service-record > .mask > .container .col-md-9 .recent-match {
            transition: all ease-in 0s;
            visibility: collapse; } }
        header.halo4-service-record > .mask > .container .col-md-9 .recent-match .details {
          margin-top: 5px;
          display: block;
          font-size: 25px;
          line-height: 40px; }
          header.halo4-service-record > .mask > .container .col-md-9 .recent-match .details .victory {
            color: #0aaed6; }
          header.halo4-service-record > .mask > .container .col-md-9 .recent-match .details .defeat {
            color: #CB2F2F; }
          header.halo4-service-record > .mask > .container .col-md-9 .recent-match .details .date {
            display: block;
            line-height: 20px;
            font-size: 18px; }
      header.halo4-service-record > .mask > .container .col-md-3 .spartan-image {
        height: 630px;
        width: 320px;
        background-repeat: no-repeat;
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: "FlipH";
        filter: FlipH;
        position: absolute;
        top: -90px;
        right: -20px;
        margin-bottom: -40px; }
      header.halo4-service-record > .mask > .container .col-md-3 .spartan-insignia {
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        top: -30px;
        right: 190px; }

main.halo4-service-record .game-history .game-history-entry {
  margin: 20px 0;
  padding: 0 10px;
  height: 220px;
  overflow: hidden; }
  main.halo4-service-record .game-history .game-history-entry.selected {
    box-shadow: 0px 0px 10px red; }
  main.halo4-service-record .game-history .game-history-entry > a {
    color: white; }
    main.halo4-service-record .game-history .game-history-entry > a:hover {
      text-decoration: none;
      color: white; }
    main.halo4-service-record .game-history .game-history-entry > a > .game-history-container {
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      main.halo4-service-record .game-history .game-history-entry > a > .game-history-container:hover > .mask {
        opacity: 1.0; }
      main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .mask {
        width: 100%;
        height: 100%;
        opacity: 0.4;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        -webkit-transition: 0.25s ease;
        transition: 0.25s ease; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .mask.dnf {
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #727272 100%);
          /* FF3.6+ */
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #727272));
          /* Chrome,Safari4+ */
          background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #727272 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #727272 100%);
          /* Opera 12+ */
          background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #727272 100%);
          /* IE10+ */
          background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, #727272 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#727272',GradientType=1 );
          /* IE6-8 fallback on horizontal gradient */ }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .mask.defeat {
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(213, 19, 14, 0.5) 100%);
          /* FF3.6+ */
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(213, 19, 14, 0.5)));
          /* Chrome,Safari4+ */
          background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(213, 19, 14, 0.5) 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(213, 19, 14, 0.5) 100%);
          /* Opera 12+ */
          background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(213, 19, 14, 0.5) 100%);
          /* IE10+ */
          background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(213, 19, 14, 0.5) 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#aad5130e',GradientType=1 );
          /* IE6-8 fallback on horizontal gradient */ }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .mask.victory {
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(10, 133, 190, 0.5) 100%);
          /* FF3.6+ */
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(10, 133, 190, 0.5)));
          /* Chrome,Safari4+ */
          background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(10, 133, 190, 0.5) 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(10, 133, 190, 0.5) 100%);
          /* Opera 12+ */
          background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(10, 133, 190, 0.5) 100%);
          /* IE10+ */
          background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(10, 133, 190, 0.5) 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#aa0a85be',GradientType=1 );
          /* IE6-8 fallback on horizontal gradient */ }
      main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .gametype-icon {
        width: 100%;
        height: 100%;
        top: 10px;
        right: 20px;
        position: absolute;
        background-position: top right;
        background-repeat: no-repeat; }
      main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner {
        position: absolute;
        top: 10px;
        left: 20px;
        height: 100%;
        width: 100%;
        overflow: hidden; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .gametype {
          font-size: 25px;
          font-weight: 600;
          opacity: 0.7; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .selector {
          opacity: 0.7; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .map-name {
          font-size: 20px;
          font-weight: 500; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .stats {
          position: absolute;
          bottom: -5px;
          left: 0; }
          main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .stats > .type {
            font-size: 20px; }
          main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .stats > .stat {
            font-size: 80px;
            font-weight: 200;
            opacity: 0.6; }
        main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .windicator {
          position: absolute;
          right: 25px;
          bottom: -10px;
          opacity: 0.3;
          font-size: 60px;
          font-weight: 900;
          text-transform: uppercase; }
          @media (min-width: 1200px) {
            main.halo4-service-record .game-history .game-history-entry > a > .game-history-container > .inner .windicator {
              opacity: 0.3;
              font-size: 40px;
              bottom: -5px;
              font-weight: 900; } }
