header.xboxlive-showcase {
	color: #fff;
	text-align: left;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	transition: background 0.6s ease-in-out;

	@media (max-width: 768px) {
		transition: all ease-in 0s;
		min-height: 480px;
	}

	> .mask {
		height: 100%;
		padding-bottom: 30px;

		> .container {
			padding-top: 120px;
			padding-left: 45px;

			.col-md-11 {
				.name-flairs {
					@media (max-width: 992px) {
						text-align: center;
					}

					.gamer-picture {
						margin-top: 15px;
						text-align: right;
					}

					.gamer-details {
						h1 {

						}

						.meta {
							font-size: 18px;
							opacity: 0.7;
							list-style: none;
							padding: 0;
							margin: 0;

							> li {
								margin-right: 15px;
								display: inline;

								&.tier-gold {
									color: gold;
								}

								> .gamerscore-icon {
									margin-top: -5px;
								}
							}
						}

						.gamer-picture {
							text-align: center;
						}

						.watermarks {
							list-style: none;
							padding: 0;
							margin: 0;
							margin-top: 25px;

							> li {
								margin-right: 15px;
								display: inline;
							}
						}
					}
				}

				.social-data {
					margin-top: 30px;
				}
			}

			.col-md-1 {
				img {
					margin-top: 15px;
					text-align: right;
				}
			}
		}
	}
}

.area-switcher.xboxlive {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

main {
	padding-top: 30px;
}

.swag {
	height: 30px;
}

@import "_showcase.scss";
